@page
@model OnlineBookRazorPagesApp.Pages.Categories.DeleteModel
<div class="container p-5">
    <h2>Edit Category</h2>
    <form method="post" class="p-5">
       <input asp-for="category.Id"  hidden />
        <div class="row">
            <label asp-for="category.Name" class="mb-3"></label>
            <input asp-for="category.Name" disabled type="text" class="form-control mb-3" />
          
        </div>
        <div class="row">
            <label asp-for="category.DisplayOrder"  class="mb-3"></label>
            <input asp-for="category.DisplayOrder" disabled class="form-control mb-3" />
       
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <a asp-page="/Categories/Delete"><button type="submit" class="btn btn-primary mb-3 form-control">Delete Category</button></a>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="/Categories/Index" class="btn btn-outline-primary form-control">Back to
                    List</a>
            </div>

        </div>


    </form>
</div>

