@page
@model IndexModel


<div class="container">
    <div class="row">
<div class="col-9">
<h2>Catergory list</h2>
</div>
<div class="col-3">
<a asp-page="/Categories/Create" class="btn btn-primary p-3"> Add New Category</a>
</div>
    </div>
<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Display Order 
        </th>
        <th></th>
        
    </tr>
    @foreach(var item in Model.categorieslist){
        <tr>
            <td>@item.Name</td>
            <td>@item.DisplayOrder</td>
            <td><a asp-page="/Categories/Edit" asp-route-Id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a> |  <a asp-page="/Categories/Delete" asp-route-Id="@item.Id"><i class="bi bi-trash"></i> Delete</a></td>
            
        </tr>
    }
</table>
</div>